{{yield}}
<ol class="full-width">
  <li>
    <div class="sakura-product-line-item">
      <span class="sakura-product-line-item-image">picture</span>
      <span class="sakura-product-line-item-info">
        <ol class="sakura-product-line-item-info-ol margin-horizontal-2x">
          <li><span class="padding-right-3x">产品1</span><span class="font-style-italic">规格1</span></li>
          <li><i class="sakura-line-item-info-brand font-style-italic font-color-dimgray">品牌1</i></li>
          <li class="sakura-line-item-info-price"><b class="font-color-red">¥100</b></li>
        </ol>
      </span>
      <span class="sakura-product-line-item-add-to-cart">
          <i class="fa fa-cart-plus fa-2x fw-centered" aria-hidden="true"></i>
      </span>
      <span class="sakura-product-line-item-more-options">
          <i class="fa fa-search-plus fa-2x fw-centered" aria-hidden="true"></i>
      </span>
    </div>
  </li>
  <li></li>
</ol>
